<div class="side-navbar-container container">
	<div class="wrapper wrapper-p-1">
		<div class="header">
			<div class="avatar">
				<img src="src/assets/img/utils/user.png" class="img-thumbnail" alt="">
			</div>
			<div class="details">
				<h1 class="fullname">Test fullname</h1>
				<p class="email">test@test.com</p>
				<p class="small adminTag" style="color: #6d7a93"></p>
			</div>
			<span class="notification fas fa-bell" id="notificationBTN"></span>
		</div>
		<div class="separator"></div>
		<div class="middle">
			<ul class="navmenu" id="sideNavBarMenu">
				<li>
					<a href="src/views/pages/statistics.ejs" class="active nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-chart-bar"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink01 %></span>
					</a>
				</li>
				<li>
					<a href="src/views/pages/files.ejs" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-folder"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink02 %></span>
					</a>
				</li>
				<li>
					<a href="src/views/pages/recent-files.ejs" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="far fa-clock"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink03 %></span>
					</a>
				</li>
				<li>
					<a href="#" class="nm-link" data-role="NAV_LINK_DROP_DOWN_TOGGLER">
						<span class="icon"><i class="fas fa-people-arrows"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink04 %></span>
					</a>
					<div class="accordion accordion-flush dropdown-accordion" id="dropdownNavmenuAccordion">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-heading-1">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-1" aria-expanded="false" aria-controls="flush-collapse-1">
									
									<%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink05 %>
								</button>
							</h2>
							<div id="flush-collapse-1" class="accordion-collapse collapse" aria-labelledby="flush-heading-1" data-bs-parent="#dropdownNavmenuAccordion">
								<div class="accordion-body">
									<a href="src/views/pages/shared-with-me.ejs" data-role="ACCORDION_NAV_LINK" class="accordion-link" target="_blank"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink06 %></a>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-heading-2">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="flush-collapse-2">
									
									<%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink07 %>
								</button>
							</h2>
							<div id="flush-collapse-2" class="accordion-collapse collapse" aria-labelledby="flush-heading-2" data-bs-parent="#dropdownNavmenuAccordion">
								<div class="accordion-body">
									<ul class="accordion-list" id="userJoinedGroupsList">
										<!--
										<li>
											<a href="#" data-role="ACCORDION_SHARING_GROUP">Group name</a>
										</li>
										-->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="src/views/pages/trashed-files.ejs" class="nm-link" data-role="NAV_LINK" id="trashedFilesNL">
						<span class="icon"><i class="fas fa-trash"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink08 %></span>
					</a>
				</li>
				<li>
					<a href="#" class="nm-link" data-role="NAV_LINK_DROP_DOWN_TOGGLER">
						<span class="icon"><i class="fas fa-briefcase"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink09 %></span>
					</a>
					<div class="accordion accordion-flush dropdown-accordion" id="dropdownNavmenuAccordion">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-heading-1">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-1" aria-expanded="false" aria-controls="flush-collapse-1">
									
									<%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink10 %>
								</button>
							</h2>
							<div id="flush-collapse-1" class="accordion-collapse collapse" aria-labelledby="flush-heading-1" data-bs-parent="#dropdownNavmenuAccordion">
								<div class="accordion-body">
									<a href="src/views/pages/mygroups.ejs" data-role="ACCORDION_NAV_LINK" class="accordion-link" target="_blank"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink11 %></a>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-heading-2">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="flush-collapse-2">
									
									<%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink12 %>
								</button>
							</h2>
							<div id="flush-collapse-2" class="accordion-collapse collapse" aria-labelledby="flush-heading-2" data-bs-parent="#dropdownNavmenuAccordion">
								<div class="accordion-body">
									<a href="src/views/pages/my-direct-sharings.ejs" data-role="ACCORDION_NAV_LINK" class="accordion-link" target="_blank"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink13 %></a>
									<a href="src/views/pages/my-group-sharings.ejs" data-role="ACCORDION_NAV_LINK" class="accordion-link" target="_blank"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink14 %></a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="src/views/pages/settings.ejs" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="fas fa-user-cog"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink15 %></span>
					</a>
				</li>
				<li>
					<a href="" class="nm-link" data-role="NAV_LINK_LOGOUT">
						<span class="icon"><i class="fas fa-sign-out-alt"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink16 %></span>
					</a>
				</li>
				<li>
					<a href="src/admin/index.ejs" class="nm-link" style="display: none;" data-role="ADMIN_PANEL_NAV_LINK">
						<span class="icon"><i class="fas fa-crown"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink17 %></span>
					</a>
				</li>
				<li>
					<a href="" class="nm-link" data-role="NAV_LINK">
						<span class="icon"><i class="far fa-question-circle"></i></span>
						<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink18 %></span>
					</a>
				</li>
				<li>
					<div class="dropdown" id="moreInfoDropdownDiv">
						<a href="" class="nm-link" data-bs-toggle="dropdown" aria-expanded="false" id="moreInfoDropdown">
							<span class="icon"><i class="fas fa-ellipsis-h"></i></span>
							<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink19 %></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="moreInfoDropdown">
							<li>
								<a class="dropdown-item" href="#" data-role="NAV_LINK_RELEASE_NOTES"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink20 %></a>
							</li>
							<li>
								<a class="dropdown-item" href="#"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink21 %></a>
							</li>
							<li>
								<a class="dropdown-item" href="#"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink22 %></a>
							</li>
							<li>
								<a class="dropdown-item" href="#"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink23 %></a>
							</li>
							<li>
								<a class="dropdown-item" href="#"><%= UI_DISPLAY_LANG.views.partials.navbars.side.navlink24 %></a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="notification-container" id="notificationContainer">
	<div class="wrapper wrapper-p-1 container" id="notificationsWrapper" style="max-height: 436px; overflow-x: hidden; overflow-y: auto;">
		<!--
		<div class="notification">
			<p class="notification-desc">Domain mm2qr.com has been successfully registered.</p>
			<p class="notification-date">2 months ago</p>
		</div>
		-->
	</div>
</div>
<div class="top-navbar-container">
	<div class="wrapper wrapper-p-1">
		<div id="loader" class="p-1 rounded my-3" style="display: none;font-weight: 200;font-size: 14px;background: #353e50;color: #7a7a7a;">
			<img src="src/assets/img/utils/loader2.gif" style="width: 25px;" alt="">
			<span id="text" style="vertical-align: middle;"> Checking for updates...</span>
		</div>
		<div class="search-box" id="searchBox">
			<div class="close-div">
				<span class="btn-close" style="font-size: 12px; cursor: pointer;pointer-events: auto;" id="closeSearchBoxBTN" aria-label="Close"></span>
			</div>
			<input type="text" id="searchFilesInput" required class="input-text" placeholder="<%= UI_DISPLAY_LANG.views.partials.navbars.top.input01Placeholder %>">
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="logo">
					<img src="src/assets/img/logo/logo.png" alt="">
				</div>
			</div>
			<div class="col-md">
				<ul class="navmenu">
					<li>
						<a href="#" class="nm-link" id="createFolderBTN">
							<span class="icon"><i class="fas fa-folder-plus"></i></span>
							<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink01 %></span>
						</a>
					</li>
					<li>
						<a href="#" class="nm-link" id="emptyTrashBTN">
							<span class="icon"><i class="fas fa-broom"></i></span>
							<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink02 %></span>
						</a>
					</li>
					<li>
						<a href="#" class="nm-link" id="uploadBTN">
							<span class="icon"><i class="fas fa-cloud-upload-alt"></i></span>
							<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink03 %></span>
						</a>
					</li>
					<li>
						<a href="#" class="nm-link" id="searchBTN">
							<span class="icon"><i class="fas fa-search"></i></span>
						</a>
					</li>
					<li>
						<a href="#" class="nm-link" title="Change view" id="changeViewBTN" data-view="GRID">
							<span class="icon" style="pointer-events: none;"><i class="fas fa-th"></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="selected-files-wrapper">
		<div class="wrapper wrapper-p-1">
			<div class="row gx-3 gy-3">
				<div class="col-md-3">
					<ul class="list-unstyled navmenu" style="padding: .7em 0 0 0;">
						<li>
							<span class="text-muted" id="filesCount">0 files.</span>
						</li>
						<li>
							<span class="text-muted" id="foldersCount">0 folders.</span>
						</li>
					</ul>
				</div>
				<div class="col-md">
					<ul class="list-unstyled navmenu" style="padding: 0;">
						<li>
							<a href="#" class="nm-link" title="" id="shareSelectedBTN">
								<span class="icon"><i class="fas fa-share-alt"></i></span>
								<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink04 %></span>
							</a>
						</li>
						<li>
							<a href="#" class="nm-link" title="" id="moveSelectedBTN" style="display: none;">
								<span class="icon"><i class="fas fa-arrows-alt"></i></span>
								<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink05 %></span>
							</a>
						</li>
						<li>
							<a href="#" class="nm-link" title="" id="cutSelectedBTN">
								<span class="icon"><i class="fas fa-cut"></i></span>
								<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink06 %></span>
							</a>
						</li>
						<li>
							<a href="#" class="nm-link" title="" id="deleteSelectedBTN" style="display: none;">
								<span class="icon"><i class="fas fa-trash"></i></span>
								<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink07 %></span>
							</a>
						</li>
						<li>
							<a href="#" class="nm-link" title="" id="restoreSelectedFromTrashBTN">
								<span class="icon"><i class="fas fa-recycle"></i></span>
								<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink08 %></span>
							</a>
						</li>
						<li>
							<a href="#" class="nm-link" title="" id="moveSelectedToTrashBTN">
								<span class="icon"><i class="fas fa-trash-alt"></i></span>
								<span class="label"><%= UI_DISPLAY_LANG.views.partials.navbars.top.navlink08 %></span>
							</a>
						</li>
						<li>
							<a href="#" class="nm-link" id="clearSelectionBTN">
								<span class="icon"><i class="far fa-times-circle"></i></span>
								<span class="label"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
